<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Hello World!</title>
<link rel="stylesheet" th:href="@{/css/default.css}" href="../static/css/default.css" />
</head>
<body>
	<h2 th:text="${title}">title</h2>

	<dt>name:</dt>
	<dd th:text="${model.name}">name</dd>

	<dt>time:</dt>
	<dd th:text="${#dates.format(model.time, 'yyyy-MM-dd')}">yyyy-MM-dd</dd>
	
	<div th:text="message">message</div>
</body>
</html>
